main.weather-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
} 

.weather-app article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 16px;
    padding: 0.75rem 4rem;
    max-width: 100%;
}

.weather-app form {
    display: grid;
    grid-template-rows: repeat(3, minmax(0 ,1fr));
    gap: 0.5rem;
    justify-items: center;
}

.weather-app label {
    font-size: 180%;
    font-weight: 500;
    align-self: center;
}

.weather-app .input-field {
    height: 0.75rem;
    align-self: center;
}

.weather-app .submit {
    padding: 1rem 1.25rem;
    font-size: 100%;
}

.weather-app #current-weather {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.weather-app img {
    background-color: var(--primary-blue);
    border-radius: 36px;
}

.weather-app #weather-h2,
.weather-app #weather-h3,
.weather-app #current-weather p {
    margin: 0.5rem 0;
}

.weather-app #hourly-forecast {
    display: none;
    gap: 1.5rem;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0.5rem 1rem;
    max-width: 40rem;
}

.weather-app #hourly-forecast div {
    min-width: 5rem;
    text-align: center;
}

@media (max-width: 1024px) {
    main.weather-app {
        padding: 6rem;
    }

    .weather-app h1 {
        font-size: 1.5rem;
    }

    .weather-app #hourly-forecast {
        max-width: 90vw;
    }
}

@media (max-width: 768px) {
    .weather-app .submit {
        padding: 0.75rem 1rem;
    }

    .weather-app #hourly-forecast {
        max-width: 80vw;
    }

    .weather-app #hourly-forecast div {
        min-width: 3rem;
    }
}
