:root {
  --primary-blue: #00A5FF;
  --secondary-blue: #2A4DC5;
  --light-blue: #E9F7FF;
  --primary-green: #009175;
  --light-green: #C8E9DD;
  --primary-red: #B83C72;
  --light-red: #F3D0DA;
  --white: #F5F4F2;
  --charcoal: #303D59;
  --gray: #80858E;
  --light-gray: #F5F7FA;
}

body {
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}
