:root {
  --primary-blue: #00A5FF;
  --secondary-blue: #2A4DC5;
  --light-blue: #E9F7FF;
  --primary-green: #009175;
  --light-green: #C8E9DD;
  --primary-red: #B83C72;
  --light-red: #F3D0DA;
  --white: #F5F4F2;
  --charcoal: #303D59;
  --gray: #80858E;
  --light-gray: #F5F7FA;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
}

.my-app {
  width: 100%;
}

nav {
  background-color: var(--light-gray);
  padding: 1rem 0;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--charcoal);
  font-weight: 600;
  padding: 0.5rem 0;
}

nav ul li a:hover {
  color: var(--primary-blue);
  transition: 0.3s ease;
}

nav ul li a.active {
  color: var(--primary-blue);
}
