:root {
  --primary-blue: #00A5FF;
  --secondary-blue: #2A4DC5;
  --light-blue: #E9F7FF;
  --primary-green: #009175;
  --light-green: #C8E9DD;
  --primary-red: #B83C72;
  --light-red: #F3D0DA;
  --white: #F5F4F2;
  --charcoal: #303D59;
  --gray: #80858E;
  --light-gray: #F5F7FA;
}

body {
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

form section {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-bottom: 2rem;
}

label {
  color: var(--charcoal);
}

.input-field {
  border: 2px solid var(--gray);
  border-radius: 32px;
  padding: 0.75rem;
}

#submit {
  padding: 1rem 2rem;
  border-radius: 32px;
  border: none;
  background-color: var(--primary-blue);
  color: var(--white);
  font-size: 120%;
  cursor: pointer;
}

#submit:hover {
  background-color: var(--secondary-blue);
  transition: 0.5s ease-in-out;
}

h2 {
  margin-top: 4rem;
}

ul {
  list-style-type: none;
}

.todo-item {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: baseline;
  margin-bottom: 1rem;
}

.todo-info {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.todo-header {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
}

.todo-header h3 {
  margin: 0;
}

.todo-description {
  text-align: left;
  overflow-wrap: break-word; 
  white-space: pre-wrap; 
  overflow: hidden;
  max-width: 40rem;
  flex-grow: 0;
}

.todo-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
}

.todo-btns button {
  width: 25%;
  padding: 0.5rem;
  border-radius: 16px;
  border: 2px solid;
  cursor: pointer;
}

.todo-btns button:hover {
  color: var(--white);
  transition: 0.5s;
}

.finish {
  color: var(--primary-green);
  background-color: var(--light-green);
}

.finish:hover {
  background-color: var(--primary-green);
  border-color: var(--primary-green);
}

.remove {
  color: var(--primary-red);
  background-color: var(--light-red);
}

.remove:hover {
  background-color: var(--primary-red);
  border-color: var(--primary-red);
}

.recover {
  color: var(--primary-blue);
  background-color: var(--light-blue);
}

.recover:hover {
  background-color: var(--primary-blue); 
  border-color: var(--primary-blue);
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.pagination-links {
  display: flex;
  gap: 0.5rem;
}

.pagination-links a {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--charcoal);
  text-decoration: none;
  color: var(--charcoal);
  cursor: pointer;
}

.pagination-links a.active {
  background-color: var(--primary-blue);
  color: var(--white);
}

.pagination-links a:hover:not(.active) {
  background-color: var(--light-blue);
}

.pagination-links span {
  padding: 1rem;
}

.pagination button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 2px solid;
  color: var(--primary-blue);
  background-color: var(--light-blue);
  cursor: pointer;
  width: 6.5rem;
}

.pagination button.dis {
  color: var(--gray);
  background-color: var(--light-gray);
  cursor: default;
}

#prev {
  margin-right: 0.5rem;
}

#next {
  margin-left: 0.75rem;
}

@media (max-width: 768px) {
  form section {
    flex-direction: column;
    gap: 1rem;
  }

  .todo-item {
    grid-template-columns: 1fr;
  }

  .todo-btns {
    flex-direction: row;
    justify-content: space-between;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .pagination-links {
    justify-content: center;
  }
}
